services:
  forgejo:
    image: bigmaninc.party:4926/docker/forgejoclone/forgejo:13
    container_name: forgejo
    environment:
      - USER_UID=1000
      - USER_GID=1000
    restart: unless-stopped
    volumes:
      - /home/hy/Docker/forgejo:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - '3000:3000'
      - '2222:22'
    networks:
      - homelab_proxy

networks:
  homelab_proxy:
    external: true