services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    user: "1000:1000"
    command:
      - tunnel
      - --metrics
      - 0.0.0.0:20241
      - --no-autoupdate
      - run
      - --token-file
      - /run/secrets/cf_tunnel_token
    volumes:
      - ./token:/run/secrets/cf_tunnel_token:ro
    networks:
      - homelab_proxy

networks:
  homelab_proxy:
    external: true
