services:
  cloudflared:
    image: docker.bigmaninc.party/docker/cloudflare/cloudflared:latest
    # image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    user: "1000:1000"
    command:
      - tunnel
      - --metrics
      - 0.0.0.0:20241
      - run
      - --token-file
      - /run/secrets/cf_tunnel_token
    volumes:
      - ./token:/run/secrets/cf_tunnel_token:ro
    networks:
      - homelab_proxy

networks:
  homelab_proxy:
    external: true
